In [ ]:
print("Radhe Radhe")

Radhe Radhe

**IMPORT LIBRAIRIES**

In [ ]:
import pandas as pd
import numpy as np

**DATA COLLECTIONS**

In [ ]:
csvdata = pd.read_csv("flipkart_products_20250405.csv")
data = pd.DataFrame(csvdata)

**DATA CLEANING**

In [ ]:
data.drop_duplicates()

,Product Name,Price (₹),Rating (★),Number of Buyers,Total Sold,Available Stock,Main Category,Sub Category,Discount (%),Seller,Return Policy,Product URL
0,Krishnamurthy-Devan Laboriosam Ultra Smartphon...,142247.04,3.2,7348,4812,364,Electronics,Smartphones,45,RetailNet,False,https://www.flipkart.com/Krishnamurthy-Devan-L...
1,Nanda-Mahal Dignissimos Lite Laptops 1,186922.43,4.1,2342,881,145,Electronics,Laptops,55,Flipkart Assured,False,https://www.flipkart.com/Nanda-Mahal-Dignissim...
2,Choudhury LLC Amet Plus Decor 15,11843.41,5.0,739,2580,206,Home,Decor,58,SuperComNet,True,https://www.flipkart.com/Choudhury-LLC-Amet-Pl...
3,Borah LLC Accusantium Lite Smartphones 9,10864.31,4.8,1543,4562,1585,Electronics,Smartphones,0,ElectroWorld,False,https://www.flipkart.com/Borah-LLC-Accusantium...
4,Murty Inc Placeat Pro Smartwatches 8,32950.41,4.5,7702,4925,1064,Electronics,Smartwatches,18,MobileHub,False,https://www.flipkart.com/Murty-Inc-Placeat-Pro...
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Sampath-Sama Repellat Pro T-Shirts 11,1620.65,4.9,568,5322,2126,Fashion,T-Shirts,9,RetailNet,False,https://www.flipkart.com/Sampath-Sama-Repellat...
4996,"Sekhon, Sachdeva and Chakrabarti Hic Plus Shoe...",18414.64,4.4,9103,7361,3133,Fashion,Shoes,44,ElectroWorld,False,"https://www.flipkart.com/Sekhon,-Sachdeva-and-..."
4997,"Mittal, Sinha and Kumer Asperiores Lite Washin...",24841.94,3.1,6124,4164,900,Appliances,Washing Machines,8,SuperComNet,False,"https://www.flipkart.com/Mittal,-Sinha-and-Kum..."
4998,Suresh Ltd Voluptatibus Plus Furniture 13,25177.89,3.4,4536,1645,414,Home,Furniture,0,MobileHub,True,https://www.flipkart.com/Suresh-Ltd-Voluptatib...
4999,Padmanabhan Inc Harum Lite Furniture 15,34636.40,3.5,6309,6791,1713,Home,Furniture,14,Flipkart Assured,False,https://www.flipkart.com/Padmanabhan-Inc-Harum...

**EXPLORETELY DATA ANALYTICS**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product Name      5000 non-null   object
 1   Price (₹)         5000 non-null   float64
 2   Rating (★)        5000 non-null   float64
 3   Number of Buyers  5000 non-null   int64
 4   Total Sold        5000 non-null   int64
 5   Available Stock   5000 non-null   int64
 6   Main Category     5000 non-null   object
 7   Sub Category      5000 non-null   object
 8   Discount (%)      5000 non-null   int64
 9   Seller            5000 non-null   object
 10  Return Policy     5000 non-null   bool
 11  Product URL       5000 non-null   object
dtypes: bool(1), float64(2), int64(4), object(5)
memory usage: 434.7+ KB

*Total product by categhory*

In [ ]:
data.groupby('Main Category').agg({
    'Product Name': ['count']})

              Product Name
                     count
Main Category
Appliances            1263
Electronics           1275
Fashion               1239
Home                  1223

Top Saling Product

In [300]:
new_data = data.groupby('Product Name').agg({
    'Total Sold': 'sum'})
new_data = data.sort_values(by='Total Sold', ascending=False)
print("top product =",new_data['Product Name'][4292])

top product = Puri Ltd Qui Ultra Smartphones 7

Top performing category

In [302]:
new_data =data.groupby('Main Category').agg({
    'Total Sold': 'sum'
})
new_data = data.sort_values(by='Total Sold', ascending=False)
print("Top performing category =",new_data['Main Category'][4292])

Top performing category = Electronics

In [304]:
print(data['Rating (★)'])

0       3.2
1       4.1
2       5.0
3       4.8
4       4.5
       ...
4995    4.9
4996    4.4
4997    3.1
4998    3.4
4999    3.5
Name: Rating (★), Length: 5000, dtype: float64

In [306]:
price = np.array(data['Price (₹)'])
reting = np.array(data['Rating (★)'])

Reiation Between Price and Ratings

In [308]:
np.corrcoef([price,reting])

array([[ 1.       , -0.0296721],
       [-0.0296721,  1.       ]])

PRICE IS PROPORTIONAL TO THE RATINGS

In [ ]:
data.to_excel('flipkart_dataset.xlsx', index=False)